.piano-key {
  stroke: #3b3636;
  fill: #fff;
  -fill: #efefef;
}
.piano-key.black {
  stroke: #3b3636;
  -fill: #efefef;
  fill: #000;
}
.piano-key.active {
  fill: #e9d7f5;
}
.piano-key.black.active {
  fill: #e9d7f5;
  -fill: #a077b9;
}
.piano-key.white.tonic {
  fill: #a077b9;
}
.piano-key.black.tonic {
  fill: #a077b9;
  -fill: #54c5c5;
}
