@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  background-color: #efefef;
}
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  margin: 0 auto;
  max-width: 92rem;
  padding: 0.1rem 1rem 4rem 1em;
  background-color: white;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: black;
}
h1.big {
  font-size: 8rem;
}
h6 {
  margin: 0;
}

table > thead > tr {
  font-weight: bold;
}

ul > li {
  list-style-type: none;
  margin: 0;
}
li button.button-clear {
  padding: 0 0.25rem;
  margin: 0 0.25rem;
}

li > strong,
li > span {
  margin-right: 1rem;
}

.App {
  padding: 1rem 0;
}

.Header {
  margin-bottom: 2rem;
}
.Header .Navigation {
  margin-bottom: 1rem;
}
.Header .Navigation a {
  margin-right: 1rem;
}
